@model IEnumerable<MvcLogicApps.Models.Doctor>

@{
    ViewData["Title"] = "Doctores";
}

<h1>Doctores</h1>

<p>
    <a asp-controller="LogicApps"
       asp-action="CreateDoctor">Create New</a>
</p>
<table class="table table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital)
            </td>
            <td>
                <a asp-controller="LogicApps"
                   asp-action="DetailsDoctor"
                   asp-route-iddoctor="@item.IdDoctor"
                   class="btn btn-success">
                    Details
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
